@model blogproject.Models.BlogPost

@{
    ViewData["Title"] = "Blog Post Details";
}

<div class="container mt-4">
    @if (Model != null)
    {
        <h1>@Model.Heading</h1>
        <p class="text-muted">
            Author: @Model.Author
            <br /> Published Date: @Model.PublishedDate.ToShortDateString()
        </p>
        <div>
            @foreach (var tag in Model.Tags)
            {
                <span class="badge bg-secondary me-1">@tag.Name</span>
            }
        </div>
        <hr />
        <div>
            @Model.Content
        </div>
        }
        else
     {
            <p>No details found!</p>
      }
</div>
